.item-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.star-span {
  background: lightblue;
  display: inline-block;
  padding: 0 7px;
  margin-left: 5px;
}

.avatar-r-margin {
  margin-right: 1rem;
}
